<div class="relative">
  <block-note-side-menu [editor]="editor">
    <block-note-add-block-btn [editor]="editor" />
    <block-note-drag-handle-menu-btn [editor]="editor" />
  </block-note-side-menu>

  <block-note-view [editor]="editor" class="block margin-icons" />
  <block-node-suggestions-menu
    [editor]="editor"
    class="z-index-3 shadow-3xl bg-white p-1.5"
  >
    <div class="suggestions-menu flex flex-col">
      @for (slashMenuItem of slashMenuItems; track slashMenuItem.title) {
        <button
          (mousedown)="slashMenuItem.onItemClick()"
          class="hover:bg-gray-300 text-left text-sm p-1"
          type="button"
        >
          <div>
            {{ slashMenuItem.title }}
          </div>
          <div class="text-xs">
            {{ slashMenuItem.subtext }}
          </div>
        </button>
      }
    </div>
  </block-node-suggestions-menu>
</div>
