<button
  (click)="openDragMenu()"
  (dragend)="dragEnd()"
  (dragstart)="dragStart($event)"
  draggable="true"
  type="button"
  hlmBtn
  variant="ghost"
  size="xs"
>
  <hlm-icon size="sm" [name]="'lucideGripVertical'" />
</button>
<div class="hidden">asd</div>

<div
  id="dropdown"
  class="z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700"
  [ngClass]="{ hidden: !dragMenuShown }"
>
  <ul
    class="py-2 text-sm text-gray-700 dark:text-gray-200"
    aria-labelledby="dropdownDefaultButton"
  >
    <li>
      <button
        (click)="deleteBlock()"
        type="button"
        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
      >
        Delete
      </button>
    </li>
    <li>
      <a
        href="#"
        class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white"
        >Settings</a
      >
    </li>
  </ul>
</div>
